# [Merges & Joins] Lösung Aufgabe Merges & Joins

In [2]:
import pandas as pd

## 1) Daten einlesen

*Gegeben sind die Excel-Dateien "Umsatz.xlsx" und "Kunden.xlsx". Verwende Pandas, um die Daten einzulesen und als DataFrames zu speichern*

In [3]:
umsatz = pd.read_excel("Umsatz.xlsx")
kunden = pd.read_excel("Kunden.xlsx")

In [6]:
umsatz

     Umsatz-ID  Kunden-ID  Menge  Stückpreis  Umsatz    Kosten
0            1          6     17        3.99   67.83   78.0045
1            2          9     89        0.99   88.11   67.8447
2            3          1     74        3.99  295.26  301.1652
3            4          8     78        5.99  467.22  532.6308
4            5         11     16        5.99   95.84   83.3808
..         ...        ...    ...         ...     ...       ...
995        996         13     24        5.99  143.76  162.4488
996        997          5     81        2.99  242.19  213.1272
997        998         14     93        8.99  836.07  794.2665
998        999         32      8        7.99   63.92   59.4456
999       1000         11     44        8.99  395.56  332.2704

[1000 rows x 6 columns]

In [7]:
kunden

,Kunden-ID,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,1,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
1,2,Preuß GmbH & Co. KG,10,Deutschland,28195,Bremen,Beethovenplatz 65
2,3,Kunz & Partner cz.,16,Tschechien,21035,Hamburg,Bismarckring 2
3,4,Eder Edelmetalle GmbH,4,Deutschland,79098,Freiburg,Rathausgasse 82
4,5,Wild-Schubert OHG,12,Deutschland,76135,Karlsruhe,Lange Gasse 62
5,6,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
6,7,"Crawfort, Inc.",15,Südafrika,10012,New York,Main Street 12
7,8,"Hegman, Sas.",17,Italien,7097,New Jersey,Ms Jay 22 Avebury Street
8,9,"Collins, Ltd.",25,Litauen,90049,Los Angeles,Monroe Street
9,10,Fischer Kft.,20,Ungarn,63327,Hennigsdorf,Hans-Hermann-Diehl-Straße 5/9
10,11,Martens GmbH,5,Deutschland,15390,Greifswald,Mandy-Neumann-Straße 99
11,12,Stark Kft.,27,Ungarn,53299,Siegen,Diana-Schwarz-Allee 8a
12,13,Krug GmbH,13,Deutschland,16042,Moers,Rosemarie-Kunz-Allee 4/3
13,14,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
14,15,MTE Ltd.,29,Indonesien,2089,South Rob,8698 William Coves Apt. 953
15,16,Turnow S.L.,30,Spanien,38331,Maryhaven,7286 Sebastian Divide
16,17,Weichert S.L.,18,Spanien,11178,San Nazzareno del friuli,Via Alessio 271
17,18,Hutter Kft.,22,Ungarn,5231,Armas de Arriba,"Calle Elena, 75, Bajo 8"
18,19,Bohn S.A.,19,Neuseeland,3592,Sigmundston,08 Ulises Street
19,20,Protz Lft.,24,Indonesien,3542,Letenye,Balázs üdülőpart 810. 26. emelet
20,21,Kuttner Inc.,8,USA,6700,Budapest,Oláh játszótér 741. 64. emelet
21,22,Velikov GmbH & CO KG,11,Deutschland,9466,Somogy,Léna átjáró 164.
22,23,Butherus Inc.,7,USA,7751,Debrecen,Veres átjáró 5. 39. ajtó
23,24,Jungmann Kft.,1,Deutschland,22319,Ternate,Ds. Bacang No. 923
24,25,Herfs Inc.,14,USA,82543,Conroyfurt,74027 Harvey Path Suite 807
25,26,Stollenwerk Inc.,9,USA,30486,Ludwigsburg,Alexander-Michels-Platz 4a
26,27,Wilhelmi S.A.S.,6,Frankreich,1407,Debrecen,Fehér dűlősor 958.\t
27,28,Selle Kft.,23,Ungarn,86472,New Gregoriabury,4528 Jerde View
28,29,Donath Corp.,28,USA,58974,Bogor,Psr. Moch. Yamin No. 842
29,30,Henseler GmbH,21,Ungarn,24258,San Serrato,"Passeig Prado, 556, 5º"

## 2) INNERJOIN

*Nutze einen Innerjoin, um die Daten zu verbinden. Wie viele Datensätze liegen vor?*

In [8]:
pd.merge(umsatz, kunden)

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,1,6,17,3.99,67.83,78.0045,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
1,41,6,58,5.99,347.42,257.0908,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
2,47,6,51,0.99,50.49,55.5390,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
3,63,6,68,7.99,543.32,543.3200,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
4,67,6,78,8.99,701.22,490.8540,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
...,...,...,...,...,...,...,...,...,...,...,...,...
953,965,14,40,5.99,239.60,179.7000,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
954,974,14,7,5.99,41.93,44.4458,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
955,987,14,56,9.99,559.44,593.0064,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
956,990,14,62,1.99,123.38,148.0560,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
957,998,14,93,8.99,836.07,794.2665,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge

In [9]:
pd.merge(umsatz, kunden, on="Kunden-ID", how="inner")

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,1,6,17,3.99,67.83,78.0045,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
1,41,6,58,5.99,347.42,257.0908,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
2,47,6,51,0.99,50.49,55.5390,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
3,63,6,68,7.99,543.32,543.3200,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
4,67,6,78,8.99,701.22,490.8540,FSA-L SAS,26,Deutschland,75000,Paris,Rue Abel 102
...,...,...,...,...,...,...,...,...,...,...,...,...
953,965,14,40,5.99,239.60,179.7000,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
954,974,14,7,5.99,41.93,44.4458,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
955,987,14,56,9.99,559.44,593.0064,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
956,990,14,62,1.99,123.38,148.0560,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge
957,998,14,93,8.99,836.07,794.2665,"Kreiger, Inc.",2,Deutschland,30845,O'Reillyfort,4706 Ebony Bridge

In [11]:
# umsatz.merge(kunden, on="Kunden-ID", how="inner")

## 3) OUTERJOIN

*Setze nun einen Outerjoin ein*

In [12]:
pd.merge(umsatz, kunden, on="Kunden-ID", how="outer")

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,1.0,6,17.0,3.99,67.83,78.0045,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
1,41.0,6,58.0,5.99,347.42,257.0908,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
2,47.0,6,51.0,0.99,50.49,55.5390,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
3,63.0,6,68.0,7.99,543.32,543.3200,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
4,67.0,6,78.0,8.99,701.22,490.8540,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,26,NaN,NaN,NaN,NaN,Stollenwerk Inc.,9.0,USA,30486.0,Ludwigsburg,Alexander-Michels-Platz 4a
1011,NaN,27,NaN,NaN,NaN,NaN,Wilhelmi S.A.S.,6.0,Frankreich,1407.0,Debrecen,Fehér dűlősor 958.\t
1012,NaN,28,NaN,NaN,NaN,NaN,Selle Kft.,23.0,Ungarn,86472.0,New Gregoriabury,4528 Jerde View
1013,NaN,29,NaN,NaN,NaN,NaN,Donath Corp.,28.0,USA,58974.0,Bogor,Psr. Moch. Yamin No. 842
1014,NaN,30,NaN,NaN,NaN,NaN,Henseler GmbH,21.0,Ungarn,24258.0,San Serrato,"Passeig Prado, 556, 5º"

In [14]:
# umsatz.merge(kunden, on="Kunden-ID", how="outer")

## 4) LEFTJOIN

*Verwende nun einen Leftjoin*

In [15]:
pd.merge(umsatz, kunden, on="Kunden-ID", how="left")

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,1,6,17,3.99,67.83,78.0045,FSA-L SAS,26.0,Deutschland,75000.0,Paris,Rue Abel 102
1,2,9,89,0.99,88.11,67.8447,"Collins, Ltd.",25.0,Litauen,90049.0,Los Angeles,Monroe Street
2,3,1,74,3.99,295.26,301.1652,Sauter AG,3.0,Deutschland,10115.0,Berlin,Hauptstraße 34
3,4,8,78,5.99,467.22,532.6308,"Hegman, Sas.",17.0,Italien,7097.0,New Jersey,Ms Jay 22 Avebury Street
4,5,11,16,5.99,95.84,83.3808,Martens GmbH,5.0,Deutschland,15390.0,Greifswald,Mandy-Neumann-Straße 99
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,13,24,5.99,143.76,162.4488,Krug GmbH,13.0,Deutschland,16042.0,Moers,Rosemarie-Kunz-Allee 4/3
996,997,5,81,2.99,242.19,213.1272,Wild-Schubert OHG,12.0,Deutschland,76135.0,Karlsruhe,Lange Gasse 62
997,998,14,93,8.99,836.07,794.2665,"Kreiger, Inc.",2.0,Deutschland,30845.0,O'Reillyfort,4706 Ebony Bridge
998,999,32,8,7.99,63.92,59.4456,NaN,NaN,NaN,NaN,NaN,NaN
999,1000,11,44,8.99,395.56,332.2704,Martens GmbH,5.0,Deutschland,15390.0,Greifswald,Mandy-Neumann-Straße 99

In [18]:
# umsatz.merge(kunden, on="Kunden-ID", how="left")

In [16]:
kunden.tail()

,Kunden-ID,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
25,26,Stollenwerk Inc.,9,USA,30486,Ludwigsburg,Alexander-Michels-Platz 4a
26,27,Wilhelmi S.A.S.,6,Frankreich,1407,Debrecen,Fehér dűlősor 958.\t
27,28,Selle Kft.,23,Ungarn,86472,New Gregoriabury,4528 Jerde View
28,29,Donath Corp.,28,USA,58974,Bogor,Psr. Moch. Yamin No. 842
29,30,Henseler GmbH,21,Ungarn,24258,San Serrato,"Passeig Prado, 556, 5º"

## 5) RIGHTJOIN

*Wie viele Einträge liegen bei einem Rightjoin vor?*

In [19]:
pd.merge(umsatz, kunden, on="Kunden-ID", how="right")

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,3.0,1,74.0,3.99,295.26,301.1652,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
1,18.0,1,67.0,5.99,401.33,288.9576,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
2,38.0,1,5.0,4.99,24.95,28.4430,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
3,44.0,1,38.0,7.99,303.62,367.3802,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
4,53.0,1,6.0,2.99,17.94,22.0662,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
...,...,...,...,...,...,...,...,...,...,...,...,...
968,NaN,26,NaN,NaN,NaN,NaN,Stollenwerk Inc.,9,USA,30486,Ludwigsburg,Alexander-Michels-Platz 4a
969,NaN,27,NaN,NaN,NaN,NaN,Wilhelmi S.A.S.,6,Frankreich,1407,Debrecen,Fehér dűlősor 958.\t
970,NaN,28,NaN,NaN,NaN,NaN,Selle Kft.,23,Ungarn,86472,New Gregoriabury,4528 Jerde View
971,NaN,29,NaN,NaN,NaN,NaN,Donath Corp.,28,USA,58974,Bogor,Psr. Moch. Yamin No. 842
972,NaN,30,NaN,NaN,NaN,NaN,Henseler GmbH,21,Ungarn,24258,San Serrato,"Passeig Prado, 556, 5º"

In [20]:
umsatz.merge(kunden, on="Kunden-ID", how="right")

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
0,3.0,1,74.0,3.99,295.26,301.1652,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
1,18.0,1,67.0,5.99,401.33,288.9576,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
2,38.0,1,5.0,4.99,24.95,28.4430,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
3,44.0,1,38.0,7.99,303.62,367.3802,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
4,53.0,1,6.0,2.99,17.94,22.0662,Sauter AG,3,Deutschland,10115,Berlin,Hauptstraße 34
...,...,...,...,...,...,...,...,...,...,...,...,...
968,NaN,26,NaN,NaN,NaN,NaN,Stollenwerk Inc.,9,USA,30486,Ludwigsburg,Alexander-Michels-Platz 4a
969,NaN,27,NaN,NaN,NaN,NaN,Wilhelmi S.A.S.,6,Frankreich,1407,Debrecen,Fehér dűlősor 958.\t
970,NaN,28,NaN,NaN,NaN,NaN,Selle Kft.,23,Ungarn,86472,New Gregoriabury,4528 Jerde View
971,NaN,29,NaN,NaN,NaN,NaN,Donath Corp.,28,USA,58974,Bogor,Psr. Moch. Yamin No. 842
972,NaN,30,NaN,NaN,NaN,NaN,Henseler GmbH,21,Ungarn,24258,San Serrato,"Passeig Prado, 556, 5º"

## ANTI-JOINS

In [21]:
outer = pd.merge(umsatz, kunden, how="outer", indicator=True)

In [25]:
# outer

## 6) LEFT-ANTIJOIN

*Verwende nun einen Left-Antijoin*

In [26]:
outer[(outer._merge == "left_only")].drop("_merge", axis=1)

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
464,12.0,31,86.0,7.99,687.14,721.4970,NaN,NaN,NaN,NaN,NaN,NaN
465,630.0,31,30.0,3.99,119.70,120.8970,NaN,NaN,NaN,NaN,NaN,NaN
466,635.0,31,84.0,9.99,839.16,906.2928,NaN,NaN,NaN,NaN,NaN,NaN
467,643.0,31,49.0,2.99,146.51,145.0449,NaN,NaN,NaN,NaN,NaN,NaN
468,648.0,31,65.0,6.99,454.35,440.7195,NaN,NaN,NaN,NaN,NaN,NaN
469,661.0,31,17.0,1.99,33.83,33.8300,NaN,NaN,NaN,NaN,NaN,NaN
470,665.0,31,21.0,1.99,41.79,27.5814,NaN,NaN,NaN,NaN,NaN,NaN
471,676.0,31,96.0,9.99,959.04,671.3280,NaN,NaN,NaN,NaN,NaN,NaN
472,728.0,31,14.0,8.99,125.86,105.7224,NaN,NaN,NaN,NaN,NaN,NaN
473,733.0,31,57.0,2.99,170.43,192.5859,NaN,NaN,NaN,NaN,NaN,NaN
474,743.0,31,5.0,3.99,19.95,16.9575,NaN,NaN,NaN,NaN,NaN,NaN
475,744.0,31,86.0,5.99,515.14,376.0522,NaN,NaN,NaN,NaN,NaN,NaN
476,752.0,31,24.0,7.99,191.76,168.7488,NaN,NaN,NaN,NaN,NaN,NaN
477,13.0,32,4.0,6.99,27.96,18.7332,NaN,NaN,NaN,NaN,NaN,NaN
478,734.0,32,65.0,9.99,649.35,461.0385,NaN,NaN,NaN,NaN,NaN,NaN
479,739.0,32,13.0,8.99,116.87,87.6525,NaN,NaN,NaN,NaN,NaN,NaN
480,773.0,32,67.0,9.99,669.33,562.2372,NaN,NaN,NaN,NaN,NaN,NaN
481,778.0,32,13.0,5.99,77.87,63.0747,NaN,NaN,NaN,NaN,NaN,NaN
482,793.0,32,48.0,9.99,479.52,537.0624,NaN,NaN,NaN,NaN,NaN,NaN
483,797.0,32,74.0,5.99,443.26,407.7992,NaN,NaN,NaN,NaN,NaN,NaN
484,829.0,32,30.0,9.99,299.70,254.7450,NaN,NaN,NaN,NaN,NaN,NaN
485,830.0,32,68.0,3.99,271.32,260.4672,NaN,NaN,NaN,NaN,NaN,NaN
486,840.0,32,72.0,5.99,431.28,465.7824,NaN,NaN,NaN,NaN,NaN,NaN
487,844.0,32,93.0,4.99,464.07,445.5072,NaN,NaN,NaN,NaN,NaN,NaN
488,848.0,32,6.0,3.99,23.94,23.4612,NaN,NaN,NaN,NaN,NaN,NaN
489,999.0,32,8.0,7.99,63.92,59.4456,NaN,NaN,NaN,NaN,NaN,NaN
984,828.0,36,22.0,2.99,65.78,50.6506,NaN,NaN,NaN,NaN,NaN,NaN
985,832.0,36,55.0,8.99,494.45,598.2845,NaN,NaN,NaN,NaN,NaN,NaN
986,854.0,36,70.0,2.99,209.30,242.7880,NaN,NaN,NaN,NaN,NaN,NaN
987,858.0,36,76.0,6.99,531.24,451.5540,NaN,NaN,NaN,NaN,NaN,NaN
988,890.0,36,26.0,1.99,51.74,41.9094,NaN,NaN,NaN,NaN,NaN,NaN
989,892.0,36,63.0,5.99,377.37,441.5229,NaN,NaN,NaN,NaN,NaN,NaN
990,897.0,36,77.0,4.99,384.23,372.7031,NaN,NaN,NaN,NaN,NaN,NaN
991,953.0,36,41.0,8.99,368.59,331.7310,NaN,NaN,NaN,NaN,NaN,NaN
992,873.0,37,36.0,3.99,143.64,175.2408,NaN,NaN,NaN,NaN,NaN,NaN
993,877.0,37,17.0,4.99,84.83,95.0096,NaN,NaN,NaN,NaN,NaN,NaN
994,884.0,37,79.0,6.99,552.21,463.8564,NaN,NaN,NaN,NaN,NaN,NaN
995,920.0,37,58.0,8.99,521.42,604.8472,NaN,NaN,NaN,NaN,NaN,NaN
996,931.0,37,19.0,4.99,94.81,68.2632,NaN,NaN,NaN,NaN,NaN,NaN
997,961.0,35,59.0,4.99,294.41,194.3106,NaN,NaN,NaN,NaN,NaN,NaN
998,975.0,34,72.0,2.99,215.28,165.7656,NaN,NaN,NaN,NaN,NaN,NaN
999,988.0,33,41.0,7.99,327.59,304.6587,NaN,NaN,NaN,NaN,NaN,NaN

## 7) RIGHT-ANTIJOIN

*Verwende nun einen Right-Antijoin*

In [27]:
outer[(outer._merge == "right_only")].drop("_merge", axis=1)

,Umsatz-ID,Kunden-ID,Menge,Stückpreis,Umsatz,Kosten,Kunde,Adress-ID,Land,Postleitzahl,Stadt,Straße
1000,NaN,16,NaN,NaN,NaN,NaN,Turnow S.L.,30.0,Spanien,38331.0,Maryhaven,7286 Sebastian Divide
1001,NaN,17,NaN,NaN,NaN,NaN,Weichert S.L.,18.0,Spanien,11178.0,San Nazzareno del friuli,Via Alessio 271
1002,NaN,18,NaN,NaN,NaN,NaN,Hutter Kft.,22.0,Ungarn,5231.0,Armas de Arriba,"Calle Elena, 75, Bajo 8"
1003,NaN,19,NaN,NaN,NaN,NaN,Bohn S.A.,19.0,Neuseeland,3592.0,Sigmundston,08 Ulises Street
1004,NaN,20,NaN,NaN,NaN,NaN,Protz Lft.,24.0,Indonesien,3542.0,Letenye,Balázs üdülőpart 810. 26. emelet
1005,NaN,21,NaN,NaN,NaN,NaN,Kuttner Inc.,8.0,USA,6700.0,Budapest,Oláh játszótér 741. 64. emelet
1006,NaN,22,NaN,NaN,NaN,NaN,Velikov GmbH & CO KG,11.0,Deutschland,9466.0,Somogy,Léna átjáró 164.
1007,NaN,23,NaN,NaN,NaN,NaN,Butherus Inc.,7.0,USA,7751.0,Debrecen,Veres átjáró 5. 39. ajtó
1008,NaN,24,NaN,NaN,NaN,NaN,Jungmann Kft.,1.0,Deutschland,22319.0,Ternate,Ds. Bacang No. 923
1009,NaN,25,NaN,NaN,NaN,NaN,Herfs Inc.,14.0,USA,82543.0,Conroyfurt,74027 Harvey Path Suite 807
1010,NaN,26,NaN,NaN,NaN,NaN,Stollenwerk Inc.,9.0,USA,30486.0,Ludwigsburg,Alexander-Michels-Platz 4a
1011,NaN,27,NaN,NaN,NaN,NaN,Wilhelmi S.A.S.,6.0,Frankreich,1407.0,Debrecen,Fehér dűlősor 958.\t
1012,NaN,28,NaN,NaN,NaN,NaN,Selle Kft.,23.0,Ungarn,86472.0,New Gregoriabury,4528 Jerde View
1013,NaN,29,NaN,NaN,NaN,NaN,Donath Corp.,28.0,USA,58974.0,Bogor,Psr. Moch. Yamin No. 842
1014,NaN,30,NaN,NaN,NaN,NaN,Henseler GmbH,21.0,Ungarn,24258.0,San Serrato,"Passeig Prado, 556, 5º"