# [Fortgeschrittene Funktionen] Fortgeschrittene Filterungen

In [1]:
import pandas as pd
umsatz = pd.read_csv("datengrundlage.xls")

## between-Filterung

### Numerische Filterung

In [3]:
umsatz.Umsatz.between(5000, 6000)

0        True
1       False
2        True
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Umsatz, Length: 1380, dtype: bool

In [7]:
umsatz[(umsatz.Umsatz <= 6000) & (umsatz.Umsatz >= 5000)]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141
5,6,1/6/2025,2025,USA,Los Angeles,5506.35,4405.08,NaN,Bereich-4,prd-35,1-43647-1,C-76
10,11,1/11/2025,2025,USA,Los Angeles,5246.40,3147.84,1.0,Bereich-2,prd-97,1-43649-1,C-76
23,24,1/24/2025,2025,Südkorea,Seoul,5137.65,5651.41,NaN,Bereich-1,prd-54,2-43651-1,C-107
...,...,...,...,...,...,...,...,...,...,...,...,...
1351,1352,9/13/2028,2028,Südkorea,Silheung,5707.35,4565.88,NaN,Bereich-5,prd-14,2-43658-1,C-107
1356,1357,9/18/2028,2028,China,Quingdao,5502.75,4402.20,NaN,Bereich-1,prd-51,4-43651-1,C-124
1359,1360,9/21/2028,2028,China,Quingdao,5776.65,4621.32,NaN,Bereich-3,prd-75,11-43660-1,C-137
1362,1363,9/24/2028,2028,USA,Sacramento,5938.80,4751.04,NaN,Bereich-2,prd-80,1-43649-2,C-76
1366,1367,9/28/2028,2028,Südkorea,Yangsan-si,5283.75,4227.00,NaN,Bereich-2,prd-82,2-43662-1,C-107

In [4]:
umsatz[umsatz.Umsatz.between(5000, 6000)]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141
5,6,1/6/2025,2025,USA,Los Angeles,5506.35,4405.08,NaN,Bereich-4,prd-35,1-43647-1,C-76
10,11,1/11/2025,2025,USA,Los Angeles,5246.40,3147.84,1.0,Bereich-2,prd-97,1-43649-1,C-76
23,24,1/24/2025,2025,Südkorea,Seoul,5137.65,5651.41,NaN,Bereich-1,prd-54,2-43651-1,C-107
...,...,...,...,...,...,...,...,...,...,...,...,...
1351,1352,9/13/2028,2028,Südkorea,Silheung,5707.35,4565.88,NaN,Bereich-5,prd-14,2-43658-1,C-107
1356,1357,9/18/2028,2028,China,Quingdao,5502.75,4402.20,NaN,Bereich-1,prd-51,4-43651-1,C-124
1359,1360,9/21/2028,2028,China,Quingdao,5776.65,4621.32,NaN,Bereich-3,prd-75,11-43660-1,C-137
1362,1363,9/24/2028,2028,USA,Sacramento,5938.80,4751.04,NaN,Bereich-2,prd-80,1-43649-2,C-76
1366,1367,9/28/2028,2028,Südkorea,Yangsan-si,5283.75,4227.00,NaN,Bereich-2,prd-82,2-43662-1,C-107

In [28]:
umsatz.Umsatz.between(umsatz.Umsatz.mean(), umsatz.Umsatz.max())

0       False
1       False
2       False
3        True
4        True
        ...
1375    False
1376     True
1377     True
1378     True
1379     True
Name: Umsatz, Length: 1380, dtype: bool

In [29]:
umsatz[umsatz.Umsatz.between(umsatz.Umsatz.mean(), umsatz.Umsatz.max())]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
4,5,1/5/2025,2025,USA,Los Angeles,9439.05,10382.95,NaN,Bereich-2,prd-85,1-43647-1,C-76
6,7,1/7/2025,2025,Südkorea,Seoul,6589.80,7248.78,NaN,Bereich-1,prd-59,2-43648-1,C-107
8,9,1/9/2025,2025,Südkorea,Seoul,10650.60,8520.48,NaN,Bereich-2,prd-80,5-43647-1,C-65
9,10,1/10/2025,2025,USA,Los Angeles,8602.05,6881.64,NaN,Bereich-5,prd-11,1-43648-1,C-76
...,...,...,...,...,...,...,...,...,...,...,...,...
1374,1375,10/6/2028,2028,USA,Sacramento,8977.35,7181.88,NaN,Bereich-4,prd-29,1-43653-2,C-76
1376,1377,10/8/2028,2028,Südkorea,Yangsan-si,6482.40,5185.92,NaN,Bereich-2,prd-96,5-43655-1,C-65
1377,1378,10/9/2028,2028,Deutschland,Stuttgart,9192.15,7353.72,NaN,Bereich-1,prd-50,3-43673-1,C-65
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109
1379,1380,10/11/2028,2028,USA,Sacramento,8303.55,6642.84,NaN,Bereich-2,prd-88,1-43654-2,C-76

### Alphabetische Filterung

In [9]:
umsatz.Stadt.between("V", "Z")

0       False
1       False
2       False
3       False
4       False
        ...
1375     True
1376     True
1377    False
1378    False
1379    False
Name: Stadt, Length: 1380, dtype: bool

In [10]:
umsatz[umsatz.Stadt.between("V", "Z")]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
230,231,8/19/2025,2025,China,Wuhan,5023.35,4018.68,1.0,Bereich-4,prd-30,11-43655-1,C-137
239,240,8/28/2025,2025,China,Wuhan,5460.75,4368.60,NaN,Bereich-3,prd-68,11-43656-1,C-137
252,253,9/10/2025,2025,Mexiko,Veracruz,6609.90,5287.92,NaN,Bereich-5,prd-4,9-43662-1,C-117
261,262,9/19/2025,2025,China,Wuhan,5420.10,4336.08,NaN,Bereich-5,prd-1,11-43657-1,C-137
268,269,9/26/2025,2025,Mexiko,Veracruz,4487.85,3590.28,NaN,Bereich-5,prd-16,9-43663-1,C-117
271,272,9/29/2025,2025,China,Wuhan,4858.35,3886.68,NaN,Bereich-1,prd-43,4-43674-1,C-124
272,273,9/30/2025,2025,China,Wuhan,5170.05,4136.04,NaN,Bereich-1,prd-57,4-43675-1,C-124
274,275,10/2/2025,2025,China,Wuhan,6747.15,5397.72,NaN,Bereich-3,prd-71,11-43658-1,C-137
275,276,10/3/2025,2025,China,Wuhan,4182.00,3345.60,NaN,Bereich-5,prd-6,4-43676-1,C-124
283,284,10/11/2025,2025,Mexiko,Veracruz,5402.70,4322.16,NaN,Bereich-2,prd-93,9-43664-1,C-117
289,290,10/17/2025,2025,Mexiko,Veracruz,4090.20,3272.16,1.0,Bereich-2,prd-98,8-43656-1,C-109
300,301,10/28/2025,2025,Mexiko,Veracruz,4089.75,3271.80,NaN,Bereich-2,prd-87,9-43665-1,C-117
302,303,10/30/2025,2025,China,Wuhan,4296.75,3437.40,1.0,Bereich-3,prd-68,4-43677-1,C-124
316,317,11/13/2025,2025,Mexiko,Veracruz,4515.30,3612.24,NaN,Bereich-2,prd-91,9-43666-1,C-117
319,320,11/16/2025,2025,Mexiko,Veracruz,6936.60,5549.28,1.0,Bereich-2,prd-95,8-43657-1,C-109
334,335,12/1/2025,2025,Mexiko,Veracruz,5104.95,4083.96,NaN,Bereich-3,prd-77,9-43667-1,C-117
346,347,12/13/2025,2025,Mexiko,Veracruz,4472.10,3577.68,NaN,Bereich-5,prd-9,9-43668-1,C-117
355,356,12/22/2025,2025,Mexiko,Veracruz,6050.55,4840.44,NaN,Bereich-1,prd-43,8-43658-1,C-109
378,379,1/14/2026,2026,Mexiko,Veracruz,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109
381,382,1/17/2026,2026,Mexiko,Veracruz,6718.95,5375.16,NaN,Bereich-3,prd-63,8-43660-1,C-109
382,383,1/18/2026,2026,Mexiko,Veracruz,5386.50,4309.20,NaN,Bereich-4,prd-36,9-43669-1,C-117
385,386,1/21/2026,2026,Mexiko,Veracruz,8519.25,6815.40,NaN,Bereich-2,prd-88,8-43661-1,C-109
386,387,1/22/2026,2026,Mexiko,Veracruz,5667.60,4534.08,NaN,Bereich-1,prd-48,9-43670-1,C-117
405,406,2/10/2026,2026,Mexiko,Veracruz,5502.00,4401.60,NaN,Bereich-2,prd-89,9-43671-1,C-117
406,407,2/11/2026,2026,Mexiko,Veracruz,7771.95,6217.56,NaN,Bereich-1,prd-46,8-43662-1,C-109
1361,1362,9/23/2028,2028,Südkorea,Yangsan-si,3825.60,3060.48,NaN,Bereich-5,prd-14,2-43660-1,C-107
1364,1365,9/26/2028,2028,Südkorea,Yangsan-si,3884.55,3107.64,NaN,Bereich-2,prd-89,2-43661-1,C-107
1366,1367,9/28/2028,2028,Südkorea,Yangsan-si,5283.75,4227.00,NaN,Bereich-2,prd-82,2-43662-1,C-107
1369,1370,10/1/2028,2028,Südkorea,Yangsan-si,6586.05,5268.84,NaN,Bereich-3,prd-73,2-43663-1,C-107
1371,1372,10/3/2028,2028,Südkorea,Yangsan-si,8762.40,7009.92,NaN,Bereich-5,prd-6,5-43654-1,C-65
1372,1373,10/4/2028,2028,Südkorea,Yangsan-si,8589.90,6871.92,1.0,Bereich-3,prd-61,2-43664-1,C-107
1375,1376,10/7/2028,2028,Südkorea,Yangsan-si,6019.05,4815.24,NaN,Bereich-3,prd-77,6-43663-1,C-85
1376,1377,10/8/2028,2028,Südkorea,Yangsan-si,6482.40,5185.92,NaN,Bereich-2,prd-96,5-43655-1,C-65

In [13]:
umsatz[umsatz.Land.between("M", "S")]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
27,28,1/28/2025,2025,Mexiko,Oaxaca,7071.60,7778.76,NaN,Bereich-2,prd-98,9-43647-1,C-117
36,37,2/6/2025,2025,Mexiko,Oaxaca,4595.25,2757.15,NaN,Bereich-2,prd-84,8-43647-1,C-109
38,39,2/8/2025,2025,Mexiko,Oaxaca,4276.35,2565.81,NaN,Bereich-1,prd-51,9-43648-1,C-117
45,46,2/15/2025,2025,Mexiko,Oaxaca,6861.60,5489.28,NaN,Bereich-3,prd-60,9-43649-1,C-117
53,54,2/23/2025,2025,Mexiko,Oaxaca,4633.35,3706.68,NaN,Bereich-3,prd-61,9-43650-1,C-117
...,...,...,...,...,...,...,...,...,...,...,...,...
1319,1320,8/12/2028,2028,Mexiko,Torreón,6936.60,5549.28,1.0,Bereich-2,prd-95,8-43657-1,C-109
1334,1335,8/27/2028,2028,Mexiko,Torreón,5104.95,4083.96,NaN,Bereich-3,prd-77,9-43667-1,C-117
1346,1347,9/8/2028,2028,Mexiko,Torreón,4472.10,3577.68,NaN,Bereich-5,prd-9,9-43668-1,C-117
1355,1356,9/17/2028,2028,Mexiko,Torreón,6050.55,4840.44,NaN,Bereich-1,prd-43,8-43658-1,C-109
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109

## where-Filterung

In [15]:
umsatz.Umsatz > 6500

0       False
1       False
2       False
3        True
4        True
        ...
1375    False
1376    False
1377     True
1378     True
1379     True
Name: Umsatz, Length: 1380, dtype: bool

In [16]:
umsatz[umsatz.Umsatz > 6500]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
4,5,1/5/2025,2025,USA,Los Angeles,9439.05,10382.95,NaN,Bereich-2,prd-85,1-43647-1,C-76
6,7,1/7/2025,2025,Südkorea,Seoul,6589.80,7248.78,NaN,Bereich-1,prd-59,2-43648-1,C-107
8,9,1/9/2025,2025,Südkorea,Seoul,10650.60,8520.48,NaN,Bereich-2,prd-80,5-43647-1,C-65
9,10,1/10/2025,2025,USA,Los Angeles,8602.05,6881.64,NaN,Bereich-5,prd-11,1-43648-1,C-76
...,...,...,...,...,...,...,...,...,...,...,...,...
1373,1374,10/5/2028,2028,USA,Sacramento,7632.90,6106.32,NaN,Bereich-2,prd-84,1-43652-2,C-76
1374,1375,10/6/2028,2028,USA,Sacramento,8977.35,7181.88,NaN,Bereich-4,prd-29,1-43653-2,C-76
1377,1378,10/9/2028,2028,Deutschland,Stuttgart,9192.15,7353.72,NaN,Bereich-1,prd-50,3-43673-1,C-65
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109
1379,1380,10/11/2028,2028,USA,Sacramento,8303.55,6642.84,NaN,Bereich-2,prd-88,1-43654-2,C-76

In [20]:
umsatz.Umsatz.where(umsatz.Umsatz > 6500)

0           NaN
1           NaN
2           NaN
3       8587.20
4       9439.05
         ...
1375        NaN
1376        NaN
1377    9192.15
1378    9808.95
1379    8303.55
Name: Umsatz, Length: 1380, dtype: float64

In [18]:
type(umsatz.Umsatz.where(umsatz.Umsatz > 6500))

pandas.core.series.Series

In [22]:
umsatz.Umsatz.where(umsatz.Umsatz > 6500)

0           NaN
1           NaN
2           NaN
3       8587.20
4       9439.05
         ...
1375        NaN
1376        NaN
1377    9192.15
1378    9808.95
1379    8303.55
Name: Umsatz, Length: 1380, dtype: float64

In [23]:
umsatz.Umsatz.where(umsatz.Umsatz > 6500).fillna(0)

0          0.00
1          0.00
2          0.00
3       8587.20
4       9439.05
         ...
1375       0.00
1376       0.00
1377    9192.15
1378    9808.95
1379    8303.55
Name: Umsatz, Length: 1380, dtype: float64

In [24]:
umsatz.Umsatz.where(umsatz.Umsatz > 6500).fillna(0) != 0

0       False
1       False
2       False
3        True
4        True
        ...
1375    False
1376    False
1377     True
1378     True
1379     True
Name: Umsatz, Length: 1380, dtype: bool

In [25]:
umsatz[umsatz.Umsatz.where(umsatz.Umsatz > 6500).fillna(0) != 0]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
4,5,1/5/2025,2025,USA,Los Angeles,9439.05,10382.95,NaN,Bereich-2,prd-85,1-43647-1,C-76
6,7,1/7/2025,2025,Südkorea,Seoul,6589.80,7248.78,NaN,Bereich-1,prd-59,2-43648-1,C-107
8,9,1/9/2025,2025,Südkorea,Seoul,10650.60,8520.48,NaN,Bereich-2,prd-80,5-43647-1,C-65
9,10,1/10/2025,2025,USA,Los Angeles,8602.05,6881.64,NaN,Bereich-5,prd-11,1-43648-1,C-76
...,...,...,...,...,...,...,...,...,...,...,...,...
1373,1374,10/5/2028,2028,USA,Sacramento,7632.90,6106.32,NaN,Bereich-2,prd-84,1-43652-2,C-76
1374,1375,10/6/2028,2028,USA,Sacramento,8977.35,7181.88,NaN,Bereich-4,prd-29,1-43653-2,C-76
1377,1378,10/9/2028,2028,Deutschland,Stuttgart,9192.15,7353.72,NaN,Bereich-1,prd-50,3-43673-1,C-65
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109
1379,1380,10/11/2028,2028,USA,Sacramento,8303.55,6642.84,NaN,Bereich-2,prd-88,1-43654-2,C-76

In [26]:
umsatz.Umsatz.where(umsatz.Umsatz > umsatz.Umsatz.mean())

0           NaN
1           NaN
2           NaN
3       8587.20
4       9439.05
         ...
1375        NaN
1376    6482.40
1377    9192.15
1378    9808.95
1379    8303.55
Name: Umsatz, Length: 1380, dtype: float64

In [27]:
umsatz.Umsatz.where(umsatz.Umsatz > umsatz.Umsatz.median())

0           NaN
1           NaN
2           NaN
3       8587.20
4       9439.05
         ...
1375        NaN
1376    6482.40
1377    9192.15
1378    9808.95
1379    8303.55
Name: Umsatz, Length: 1380, dtype: float64

## idxmin

In [30]:
umsatz.Kosten.min()

1644.36

In [33]:
umsatz.Kosten.idxmin()

965

In [35]:
umsatz.iloc[963:970, ]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
963,964,8/22/2027,2027,Südkorea,Naju,10528.05,8422.44,NaN,Bereich-3,prd-78,5-43669-2,C-65
964,965,8/23/2027,2027,Mexiko,San Luis Potosi,9239.85,7391.88,NaN,Bereich-3,prd-67,8-43673-1,C-109
965,966,8/24/2027,2027,Mexiko,San Luis Potosi,2055.45,1644.36,NaN,Bereich-4,prd-25,9-43656-1,C-117
966,967,8/25/2027,2027,Südkorea,Gimhae,7378.20,5902.56,1.0,Bereich-5,prd-8,5-43670-2,C-65
967,968,8/26/2027,2027,USA,Fort Worth,9180.90,7344.72,NaN,Bereich-3,prd-78,1-43672-3,C-76
968,969,8/27/2027,2027,Südkorea,Gimhae,6027.00,4821.60,1.0,Bereich-2,prd-87,6-43665-1,C-85
969,970,8/28/2027,2027,China,Luoyang,5290.95,4232.76,NaN,Bereich-5,prd-12,4-43675-2,C-124

## idxmax

In [31]:
umsatz.Kosten.max()

12141.68

In [34]:
umsatz.Kosten.idxmax()

1008

In [36]:
umsatz.iloc[1005:1010, ]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
1005,1006,10/3/2027,2027,USA,Hartford,5506.35,6277.24,NaN,Bereich-4,prd-35,1-43647-1,C-76
1006,1007,10/4/2027,2027,Südkorea,Gimhae,6589.80,7512.37,NaN,Bereich-1,prd-59,2-43648-1,C-107
1007,1008,10/5/2027,2027,USA,Hartford,6166.05,7029.30,NaN,Bereich-3,prd-77,1-43648-1,C-76
1008,1009,10/6/2027,2027,Südkorea,Gimhae,10650.60,12141.68,NaN,Bereich-2,prd-80,5-43647-1,C-65
1009,1010,10/7/2027,2027,USA,Hartford,8602.05,9806.34,NaN,Bereich-5,prd-11,1-43648-1,C-76

In [38]:
umsatz.loc[:, ["Umsatz", "Kosten"]].idxmin()

Umsatz    965
Kosten    965
dtype: int64

In [39]:
umsatz.loc[:, ["Umsatz", "Kosten"]].idxmax()

Umsatz     651
Kosten    1008
dtype: int64

In [40]:
umsatz.iloc[[umsatz.Umsatz.idxmin(), umsatz.Umsatz.idxmax()]]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
965,966,8/24/2027,2027,Mexiko,San Luis Potosi,2055.45,1644.36,NaN,Bereich-4,prd-25,9-43656-1,C-117
651,652,10/14/2026,2026,USA,Honolulu,13112.40,10489.92,NaN,Bereich-5,prd-19,1-43658-2,C-76