# [Indexing] Indizes mit Pandas

In [1]:
import pandas as pd

In [15]:
umsatz = pd.read_excel("datengrundlage.xlsx", index_col = None)
umsatz.head(3)

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,2025-01-01,2025,Südkorea,Seoul,5534.55,4427.640,False,Bereich-5,prd-3,6-43647-1,C-85
1,2,2025-01-02,2025,Südkorea,Seoul,6284.70,7164.558,False,Bereich-5,prd-1,2-43647-1,C-107
2,3,2025-01-03,2025,Vereinigtes Königreich,London,5437.65,6198.921,False,Bereich-1,prd-56,7-43647-1,C-141

## Indizes

### set_index: "Nr."

In [12]:
pd.DataFrame.index?

Type:        AxisProperty
String form: <pandas._libs.properties.AxisProperty object at 0x00000229193C54C0>
File:        c:\users\fabio\anaconda3\lib\site-packages\pandas\_libs\properties.cp39-win_amd64.pyd
Docstring:   The index (row labels) of the DataFrame.

In [13]:
umsatz.index

RangeIndex(start=0, stop=1380, step=1)

In [16]:
# umsatz.set_index(["Nr"])

### del: Spalten Löschen

In [17]:
del umsatz["Nr"]

In [18]:
umsatz.head(2)

,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,2025-01-01,2025,Südkorea,Seoul,5534.55,4427.640,False,Bereich-5,prd-3,6-43647-1,C-85
1,2025-01-02,2025,Südkorea,Seoul,6284.70,7164.558,False,Bereich-5,prd-1,2-43647-1,C-107

### set_index: "Datum"

In [19]:
umsatz.set_index(["Datum"])

,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
Datum,,,,,,,,,,
2025-01-01,2025,Südkorea,Seoul,5534.55,4427.640,False,Bereich-5,prd-3,6-43647-1,C-85
2025-01-02,2025,Südkorea,Seoul,6284.70,7164.558,False,Bereich-5,prd-1,2-43647-1,C-107
2025-01-03,2025,Vereinigtes Königreich,London,5437.65,6198.921,False,Bereich-1,prd-56,7-43647-1,C-141
2025-01-04,2025,China,Peking,8587.20,5152.320,False,Bereich-2,prd-92,4-43647-1,C-124
2025-01-05,2025,USA,Los Angeles,9439.05,10382.955,False,Bereich-2,prd-85,1-43647-1,C-76
...,...,...,...,...,...,...,...,...,...,...
2028-10-07,2028,Südkorea,Yangsan-si,6019.05,4815.240,False,Bereich-3,prd-77,6-43663-1,C-85
2028-10-08,2028,Südkorea,Yangsan-si,6482.40,5185.920,False,Bereich-2,prd-96,5-43655-1,C-65
2028-10-09,2028,Deutschland,Stuttgart,9192.15,7353.720,False,Bereich-1,prd-50,3-43673-1,C-65
2028-10-10,2028,Mexiko,Torreón,9808.95,7847.160,True,Bereich-3,prd-72,8-43659-1,C-109
2028-10-11,2028,USA,Sacramento,8303.55,6642.840,False,Bereich-2,prd-88,1-43654-2,C-76

### reset_index()

In [21]:
umsatz.reset_index()

,index,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,0,2025-01-01,2025,Südkorea,Seoul,5534.55,4427.640,False,Bereich-5,prd-3,6-43647-1,C-85
1,1,2025-01-02,2025,Südkorea,Seoul,6284.70,7164.558,False,Bereich-5,prd-1,2-43647-1,C-107
2,2,2025-01-03,2025,Vereinigtes Königreich,London,5437.65,6198.921,False,Bereich-1,prd-56,7-43647-1,C-141
3,3,2025-01-04,2025,China,Peking,8587.20,5152.320,False,Bereich-2,prd-92,4-43647-1,C-124
4,4,2025-01-05,2025,USA,Los Angeles,9439.05,10382.955,False,Bereich-2,prd-85,1-43647-1,C-76
...,...,...,...,...,...,...,...,...,...,...,...,...
1375,1375,2028-10-07,2028,Südkorea,Yangsan-si,6019.05,4815.240,False,Bereich-3,prd-77,6-43663-1,C-85
1376,1376,2028-10-08,2028,Südkorea,Yangsan-si,6482.40,5185.920,False,Bereich-2,prd-96,5-43655-1,C-65
1377,1377,2028-10-09,2028,Deutschland,Stuttgart,9192.15,7353.720,False,Bereich-1,prd-50,3-43673-1,C-65
1378,1378,2028-10-10,2028,Mexiko,Torreón,9808.95,7847.160,True,Bereich-3,prd-72,8-43659-1,C-109
1379,1379,2028-10-11,2028,USA,Sacramento,8303.55,6642.840,False,Bereich-2,prd-88,1-43654-2,C-76